#board {
  width: 31em;
  height: 30em;
  position: relative;
  top: 30px;
  left: 25%;
}

.box {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 4px;

  /*from here on in .box is mine*/
  text-align: center;


}

.XXX {
  background-color: red;
}

.OOO {
  background-color: black;
}

h1 {
  text-align: center;
  font-family: garamond;
  /*visibility: hidden;*/
  
}