#board {
  width: 31em;
  height: 30em;
  position: relative;
  top: 18px;
  left: 33%;
}

.box {
  width: 9em;
  height: 9em;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 4px;
  text-align: center;
}

.XXX {
  background-color: red;
}

.OOO {
  background-color: darkgray;
}

h1 {
  text-align: center;
  font-family: garamond;
  /*visibility: hidden;*/
}

.midgame {
  background: gray;
  height: 45px;
  width: 125px;
}

.endgame {
  background: green;
  height: 45px;
  width: 125px;
}